<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

        <error-page>
            <error-code>500</error-code>
            <location>/pages/error/error500.jsp</location>
        </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/pages/error/error404.jsp</location>
    </error-page>

    <filter>
        <filter-name>LocaleFilter</filter-name>
        <filter-class>com.epamjwd.provider.controller.filter.LocaleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LocaleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>UserAttributeFilter</filter-name>
        <filter-class>com.epamjwd.provider.controller.filter.UserAttributeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserAttributeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CommandAccessFilter</filter-name>
        <filter-class>com.epamjwd.provider.controller.filter.CommandAccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CommandAccessFilter</filter-name>
        <url-pattern>/controller</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>UserStatusFilter</filter-name>
        <filter-class>com.epamjwd.provider.controller.filter.UserStatusFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserStatusFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <request-character-encoding>UTF-8</request-character-encoding>
</web-app>
